<div class="welcomeBox">
  <h1>Welcome to <span>PHOTO EDITR</span> !</h1>
  <h5>The self-proclaimed best photo editor out there</h5>
  <br>
  <h5>With <span>PHOTO EDITR</span> you can:</h5>
  <br>
  <ul>
    <li>- Photoshop your ugly face and increase your Tinder matching rate by 3%!</li> <br>
    <li>- Replce your old broken Toyota 1996 with a brand new Lamborgini</li> <br>
    <li>- Make the world a better place!!!</li> <br>
  </ul>

  <a class="createProjectLink" href="/projects/new">CREATE MY FIRST MASTERPIECE!</a>

</div>
