<div class="editArea">


  <input type="text" name="firstname" value="Project Name" id="projectTitle">
  <canvas id="mainCanvas" width="400" height="400"></canvas>
  <input type="text" name="" value="" id="bgSearch">
  <button type="button" name="button" id="addStickerButton">Add a Sticker</button>
  <button type="button" name="button" id="deleteStickerButton">Delete Sticker</button>
  <button type="button" name="button" id="saveButton">Download</button>
  <button type="button" name="button" id="saveProjectButton">Save Project</button>


</div>
