<h1>Project 1</h1>
<canvas id="canvas" width="500" height="500"></canvas>
<input type="text" name="" value="" id="bgSearch">
<button type="button" name="button" id="bgApplyButton">Set Background</button>
