<% if (locals.isLoggedIn) { %>

  <h1 id="editHeader" data-project-canvas="<%= project.canvasObject %>"
                      data-project-title="<%= project.title %>"
                      data-project-id="<%= project._id %>">
  </h1>

  <% } else { %>
    <h1>User is not logged</h1>
  <% } %>

<div class="editArea">

  <input type="text" name="firstname" value="" id="projectTitleInput" placeholder="Project title...">
  <canvas id="mainCanvas" width="400" height="400" value="yes"></canvas>
  <%# <input type="text" name="" value="" id="bgSearch">%>

  <div class="buttonsPanel">
    <button type="button" name="button" id="addStickerButton" class="greenRoundButton">STICKER</button>
    <button type="button" name="button" id="addBackgroundButton" class="greenRoundButton">BACKGROUND</button>
    <button type="button" name="button" id="saveChangesButton" class="greenRoundButton">SAVE CHANGES</button>
    <button type="button" name="button" id="saveButton" class="greenRoundButton">DOWNLOAD</button>
  </div>

  <div class="toolsPanel">
    <button type="button" name="button" id="layerUpButton" class="greenRoundButton">UP</button>
    <button type="button" name="button" id="layerDownButton" class="greenRoundButton">DOWN</button>
    <button type="button" name="button" id="cloneButton" class="greenRoundButton">CLONE</button>
    <button type="button" name="button" id="deleteStickerButton" class="redRoundButton">DELETE</button>
  </div>


</div>
