<div class="editArea">

  <input type="text" name="firstname" value="" id="projectTitleInput" placeholder="Project title...">
  <canvas id="mainCanvas" width="400" height="400" value="yes"></canvas>
  <%# <input type="text" name="" value="" id="bgSearch">%>

  <div class="buttonsPanel">
    <button type="button" name="button" id="addStickerButton" class="greenRoundButton">STICKER</button>
    <button type="button" name="button" id="addBackgroundButton" class="greenRoundButton">BACKGROUND</button>
    <button type="button" name="button" id="saveProjectButton" class="greenRoundButton">SAVE PROJECT</button>
    <button type="button" name="button" id="saveButton" class="greenRoundButton">DOWNLOAD</button>
  </div>

  <div class="toolsPanel">
    <button type="button" name="button" id="layerUpButton" class="greenRoundButton">UP</button>
    <button type="button" name="button" id="layerDownButton" class="greenRoundButton">DOWN</button>
    <button type="button" name="button" id="cloneButton" class="greenRoundButton">CLONE</button>
    <button type="button" name="button" id="deleteStickerButton" class="redRoundButton">DELETE</button>
  </div>


</div>
