<div class="editArea">

  <input type="text" name="firstname" value="Project Name" id="projectTitle">
  <canvas id="mainCanvas" width="400" height="400" value="yes"></canvas>
  <input type="text" name="" value="" id="bgSearch">

  <div class="buttonsPanel">
    <button type="button" name="button" id="addStickerButton">Sticker</button>
    <button type="button" name="button" id="addBackgroundButton">Background</button>
    <button type="button" name="button" id="saveProjectButton">Save Project</button>
    <button type="button" name="button" id="saveButton">Download</button>
  </div>

  <div class="toolsPanel">
    <button type="button" name="button" id="layerUpButton">Layer Up</button>
    <button type="button" name="button" id="layerDownButton">Layer Down</button>
    <button type="button" name="button" id="deleteStickerButton">Delete Sticker</button>
  </div>


</div>
