
<form method="POST" action="/login">
  <div class="form-group">
    <h3>Log In</h3>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
    <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" placeholder="Enter password">
    <button type="submit" class="btn btn-primary">Log In</button>
  </div>

</form>
