$mainFont: 'Comfortaa', cursive;

$mainColor: #1abc9c;
$greenColor: #2ecc71;
$lightGreenColor: #34ed85;
$redColor: #e74c3c;
$lightRedColor: #ff5342;
$bgColor: #2c303a;
$greyColor: #95a5a6;
$darkGreyColor: #7f8c8d;

body {
  font-family: sans-serif;
  background-color: $bgColor;
}

h1 {
  font-family: $mainFont;
  color: $greyColor;
}

h5 {
  font-family: $mainFont;
  color: $darkGreyColor;
}

p {
  font-family: $mainFont;
  color: $mainColor;
}

.center {
    text-align:center;
    text-decoration: none;

}

.form-group {

    display:block;
    text-align:center;
    background-color: white;
    width: 400px;
    border-radius: 5px;
    margin: 70px auto;
    padding: 15px;

    h3 {
      display: block;
      margin-top: 30px auto;
      font-family: $mainFont;
      color: $greenColor;
    }

    input {
      margin: 5px auto;
      font-family: $mainFont;
      color: $greenColor;
      padding: 5px;
      width: 300px;
    }

    .btn-primary {
      margin: 15px auto 5px auto;
      background-color: $greenColor;
      border: none;
    }
}

canvas {
  border-radius: 5px;
}

.noProjectsLabel {
  width: 100%;
  text-align: center;
  margin: 30px auto;
}

.noProjectsSubLabel {
  width: 100%;
  text-align: center;
  margin: 30px auto;
  color: #3a404d;
  font-family: $mainFont;
}

.canvas-container {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  display: block;
  width: 400px;
}

#canvasid {
  //border-radius: 5px;
  margin-left: 0;
  //margin: 0 auto;
}
.thumbnailCanvas {
  border-style: solid;
  border-width: thin;
  border-color: white;
}
.buttonsPanel {
  display: block;
}

ul {
  list-style:none;
}

button {
  margin: 0 auto;
  display: block;
}

input {
  margin: 30px auto 10px;
  display: block;
  width: 65%;
}

.navbar  {

  .navbar-brand {
    color: white;
    font-family: $mainFont;
    width: 300px;
  }

  .navbar-brand:hover {
    color: $greenColor;
  }

  .nav-item {
    height: 100%;
    border-radius: 35px;
    border: 0;
  }
  .nav-link {
    color: $greyColor;
    font-family: $mainFont;
    font-size: 12px;
    // margin: 0 60px;
    width: 200px;
    text-align: center;
    height: 100%;
    border-radius: 35px;
    border: 0;
  }
  .nav-link:hover {
    background-color: $greyColor;
    color: white;
  }
  .create-link:hover {
    background-color: $greenColor;
    color:white;
  }
}


.welcomeBox {
  display:block;
  text-align:center;
  background-color: white;
  width: 700px;
  border-radius: 7px;
  margin: 70px auto;
  padding: 25px;

  span {
    color: $greenColor;
  }

  h5 {
    font-family: $mainFont;
    color: #a8bbbc;
  }

  li {
    color: $greyColor;
    font-family: $mainFont;
  }
  .createProjectLink {
    background-color: $greenColor;
    color:white;
    font-family: $mainFont;
    font-size: 15px;
    height: 100%;
    border-radius: 35px;
    border: 0;
    padding: 10px;
    text-decoration: none;
  }
  .createProjectLink:hover {
    background-color: $lightGreenColor;
    color:white;
    text-decoration: none;
  }

}

.redRoundButton {
  border: 0;
  background: none;
  box-shadow:none;
  border-radius: 35px;
  background-color: $redColor;
  padding: 5px 10px;
  display: inline;
  color: white;
  font-size: 12px;
  font-family: $mainFont;
  transition: all .2s ease-in-out;
}
.redRoundButton:hover {
  background-color: $lightRedColor;
  transform: scale(1.1);
}
.redRoundButton:focus {
  outline: 0;
}


.greenRoundButton {
  border: 0;
  background: none;
  box-shadow:none;
  border-radius: 35px;
  background-color: $greenColor;
  padding: 5px 10px;
  margin: 10px 3px;
  display: inline-block;
  color: white;
  font-size: 12px;
  font-family: $mainFont;
  transition: all .2s ease-in-out;
}

.greenRoundButton:hover {
  background-color: $lightGreenColor;
  transform: scale(1.1);
}
.greenRoundButton:focus {
  outline: 0;
}


.editArea {
  text-align:center;
  background-color: #2c303a;
  width: 200px;
  display: block;
  height:600px;
  width:600px;
}

.thumbnailContainer {
  width: 400px;
  // margin-left: auto;
  // margin-right: auto;
  // margin-top: 45px;
  // margin-bottom: 45px;
  margin: 20px 100px;
  float: left;
}


.jumbotron {
  //background-image: url('https://3f0861b6bc98c08770be-789248f0448453b835406008213ad4a2.ssl.cf2.rackcdn.com/cover_photo_682812_1460367762.png');
  background-color: #16181e;
  background-size: cover;
}

#projectTitleInput {
  border: 0px;
  font-size: 20px;
  font-family: $mainFont;
  background-color:transparent;
  color: $greyColor;
}

#projectTitleInput:focus {
  outline: none;
}

.profilePicture {

  text-align: center;
  width:160px;
  height: 160px;
  border-radius: 50%;
  border-style: solid;
  border-width: medium;
  border-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: block;
}

.thumbnailLink {

  margin-bottom: 10px;
  font-size: 20px;
  font-family: $mainFont;
  color: $greenColor;
  display: block;
  text-decoration: none;
}
.thumbnailLink:hover {
  color: white;
  text-decoration: none;
}

.downloadLink {
  border: 0;
  background: none;
  box-shadow:none;
  background-color: transparent;
  padding: 5px 10px;
  margin: 10px 3px;
  float: left;
  color: $greyColor;
  font-size: 12px;
  font-family: $mainFont;
  transition: all .15s ease-in-out;
}

.downloadLink:hover {
  color: $greenColor;
  transform: scale(1.1);
}
.downloadLink:focus {
  outline: 0;
}

.deleteLink {

  border: 0;
  background: none;
  box-shadow:none;
  background-color: transparent;
  padding: 5px 10px;
  margin: 10px 3px;
  color: $greyColor;
  font-size: 12px;
  font-family: $mainFont;
  transition: all .15s ease-in-out;
  float: left;

}

.deleteLink:hover {
  color: $redColor;
  transform: scale(1.1);
}

.deleteLink:focus {
  outline: 0;
}

#head {
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 20px;
}

#head-child {
  width: 100%;
  text-align: center;
  color: $greyColor;
}
